body {
  position: relative;
  font-size: 1.2rem;
  background-color: #fff;
  font-family: $default-font;

  p {
    line-height: 32px;
  }

  header {
    position: relative;
    width: 100%;
    height: 600px;
    background: url(../images/profilePicture.jpg) no-repeat;
    background-size: cover;
    background-position-x: center;
    padding: 0 $padding-content-x;
    z-index: 2;
    li {
      list-style-type: none;
    }
  }

  .my-img {
    display: none;
  }

  header::before {
    background: $linear-background;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    content: '';
    z-index: -1;
  }

  nav {
    position: relative;
    padding-top: 55px;
    .ham-menu {
      display: flex;
      flex-direction: column;
      gap: 5px;
      cursor: pointer;
    }
    .ham-menu span {
      border: 1px solid #fff;
      height: 2px;
      width: 30px;
    }
    .hide {
      display: none;
    }
    .mobile-menu {
      padding-top: 45px;
      padding-left: 30px;
      height: 100vh;
      width: 100vw;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.9);

      #nav-close {
        cursor: pointer;
        font-size: 2em;
        color: #fff;
      }

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 90px;
        gap: 40px;

        li a {
          font-weight: bolder;
          color: #fff;
          font-size: 1.3em;
        }
        li a:hover {
          text-decoration: underline;
          text-decoration-color: $primary-color;
          text-decoration-thickness: 10px;
        }
      }
    }
  }

  .profile,
  .profile-info {
    color: #fff;
  }

  .profile {
    margin-top: 80px;
    margin-bottom: 15px;

    .name-job h1 {
      font-size: 2.6em;
      line-height: 50px;
      font-weight: 700;
    }
    .name-job p {
      font-weight: 600;
      letter-spacing: 1.7px;
      margin-top: 7px;
      font-size: 0.9em;
    }
  }

  .profile-info {
    margin-top: 30px;
    display: flex;
    gap: 5px;

    .profile-intro {
      span {
        a {
          color: #fff;
        }
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    .description li {
      opacity: 0.6;
    }

    .profile-answer li {
      font-weight: 600;
    }
  }

  .profile-socials {
    display: flex;
    margin-top: 43px;
    gap: 15px;

    img {
      width: 33px;
      height: 33px;
      opacity: 0.7;
    }

    .linkedIn {
      width: 35px;
      height: 35px;
    }
  }

  a {
    text-decoration: none;
  }
}
