main {
  padding: 0 $padding-content-x;
  padding-bottom: 50px;

  h2,
  h3,
  h4 {
    margin-top: 50px;
    font-weight: 200;
    font-size: 2.3em;
    color: $primary-text-color;
  }
  h3 {
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 4px;
  }
  h4 {
    font-size: 0.9em;
  }

  p {
    margin-top: 40px;
    color: $primary-text-color;
    font-family: $paragraph-font;
    font-size: 1em;
    line-height: 32px;
  }

  section.intro {
    position: relative;
    button {
      @extend %btn;
      background-color: $primary-color;
      border: none;
      width: 60%;
      margin: 30px 0 65px 5px;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        color: #fff;
        display: flex;
        align-items: center;
        text-align: center;
        gap: 7px;
        font-size: 1.2em;
      }
    }
  }

  section.resume {
    li {
      list-style-type: none;
      p {
        margin-top: 0px;
      }
    }

    h3 {
      margin-bottom: 55px;
    }

    div.education {
      .inner-list::before {
        content: '';
        display: inline-block;
        height: 12px;
        width: 12px;
        border-radius: 25px;
        border: 2px solid $primary-color;
        position: relative;
        left: 0;
      }

      .inner-list::after {
        content: '';
        display: block;
        height: 190px;
        width: 2px;
        border: 1px solid $primary-color;
        position: relative;
        top: -6px;
        left: 6px;
      }

      .list-vertical li {
        margin-top: -12px;
      }

      div.education-details {
        display: flex;
        gap: 15px;

        .education-answer {
          margin-top: -3.3em;
          display: flex;
          flex-direction: column;
          gap: 1.2em;

          li:nth-child(even) {
            margin-top: 10px;
            margin-bottom: -10px;
          }

          div {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .date {
              font-weight: 300;
              font-size: 0.7em;
            }
          }

          li {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h4 {
              color: $primary-color;
              font-size: 1em;
            }

            .degree {
              font-weight: 500;
              font-size: 1em;
            }
          }
        }
      }
    }
    div.general-skill {
      margin-bottom: 90px;
      h3 {
        margin-bottom: -5px;
      }

      .skills {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
        align-items: center;

        h4 {
          margin-top: 0;
        }

        .skill-details {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .skill-name {
          display: flex;
          margin-bottom: 9px;
        }
      }
    }
  }

  section.project {
    .project-heading {
      margin-bottom: 45px;
    }

    .card-project {
      padding-bottom: 40px;
      margin-bottom: 40px;
      box-shadow: 20px 44px 70px -51px rgba(0, 0, 0, 0.36);
      h2 {
        font-size: 1.2em;
        font-weight: 500;
      }
      h4 {
        font-weight: bolder;
      }

      img {
        width: 100%;
        object-fit: cover;
      }

      .project-details {
        padding: 0 0.7em;
      }

      ul {
        margin-top: 25px;
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        li {
          list-style-type: none;
          color: $primary-text-color;
          font-weight: 300;
          border-width: 1px;
          background-color: #fff;
          padding: 10px 15px;
          box-shadow: 1px 8px 21px -1px rgba(0, 0, 0, 0.34);
        }
      }
    }
    .project-btn {
      @extend %btn;
      background-color: $primary-color;
      font-size: 0.9em;
      border: none;
      width: 68%;
      font-weight: 500;
    }
  }

  hr {
    margin-top: 90px;
    opacity: 0.5;
  }
}
