// MEADIA QUERY

/* MOBILE*/
@media (min-width: 447px) {
  main,
  .small-footer,
  .header-inner-container {
    width: 90%;
    margin: 0 auto;
  }
  div.education {
    margin-bottom: 70px;
  }

  .circle {
    transform: translateX(150%);
  }

  section.testimony {
    .test-container {
      .carousel-conatiner {
        .carousel-circle {
          margin-top: 8em;
        }
      }
    }
  }
}

/* MOBILE */
@media (min-width: 500px) {
  .header-inner-container {
    max-width: 570px;
  }

  .education-answer li:nth-child(even) {
    margin-top: 1.3375em;
  }

  .education-answer li:nth-child(3n) {
    margin-top: 1.3em;
  }

  button {
    max-width: 210px;
  }
}

/* TABLET */
@media (min-width: 768px) {
  main,
  .small-footer,
  .header-inner-container,
  .post-inner-container,
  .test-container {
    max-width: 799px;
  }

  .skills {
    justify-content: center;
  }

  .card-project {
    display: flex;
    gap: 20px;

    img {
      width: 100%;
      height: calc(100%);
      object-fit: cover;
    }
  }

  .flex-post {
    display: flex;
    flex: 1;
    gap: 10px;
    .card-post {
      width: 33.333%;
    }

    .post-btn {
      width: 100%;
      max-width: 250px;
    }
  }

  footer {
    h2 {
      margin-bottom: 90px;
      text-align: center;
    }
    .small-footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 60px;

      .profile-foot {
        margin-top: -30px;
      }

      form {
        max-width: 645px;
        margin: 0 auto;
        .form-btn {
          max-width: 290px;
        }
      }
    }
  }
}

/* TABLET */

@media (min-width: 989px) {
  main,
  .small-footer,
  .header-inner-container,
  .post-inner-container,
  .test-container {
    max-width: 900px;
  }

  body {
    .my-img {
      display: flex;
      width: 45%;
    }
  }

  .my-img img {
    display: flex;
    width: 80%;
    height: calc(100% + 80px);
  }

  .profile {
    display: flex;
  }

  .intro {
    margin-top: 100px;

    .intro-details p {
      margin-top: 25px;
    }
  }
}

/* LAPTOP */
@media (min-width: 992px) {
  main,
  .small-footer,
  .header-inner-container,
  .post-inner-container,
  .test-container {
    max-width: 1094px;
  }

  body {
    nav {
      position: relative;
      padding-top: 35px;
      .ham-menu {
        display: none;
      }
      .hide {
        display: block;

        #nav-close {
          display: none;
        }

        ul {
          display: flex;
          flex-direction: row;
          margin-top: 0;

          li a {
            font-weight: bolder;
            color: #fff;
            font-size: 1em;
          }

          li a:hover {
            text-decoration-color: #fff;
          }
        }
      }

      .mobile-menu {
        padding-top: 0;
        padding-left: 0;
        height: 100%;
        width: auto;
        position: relative;
        background-color: transparent;
        z-index: 1;
      }
    }
    .profile {
      margin-top: 140px;
    }
  }

  section.testimony {
    .test-container {
      .carousel-conatiner {
        .carousel-content {
          .carousel-item {
            margin-left: -8.897em;
            padding-left: 20.875em;
            padding-right: 5.25em;
          }
        }
      }
    }
  }
}
